#### Loading CSV File

In [3]:
import pandas as pd

divorce_df = pd.read_csv('divorce_data.csv', delimiter=';')

# Display the first few rows of the dataframe to understand its structure
print(divorce_df.head())

# Display summary statistics and information
print(divorce_df.info())
print(divorce_df.describe())

   Q1  Q2  Q3  Q4  Q5  Q6  Q7  Q8  Q9  Q10  ...  Q46  Q47  Q48  Q49  Q50  Q51  \
0   2   2   4   1   0   0   0   0   0    0  ...    2    1    3    3    3    2
1   4   4   4   4   4   0   0   4   4    4  ...    2    2    3    4    4    4
2   2   2   2   2   1   3   2   1   1    2  ...    3    2    3    1    1    1
3   3   2   3   2   3   3   3   3   3    3  ...    2    2    3    3    3    3
4   2   2   1   1   1   1   0   0   0    0  ...    2    1    2    3    2    2

   Q52  Q53  Q54  Divorce
0    3    2    1        1
1    4    2    2        1
2    2    2    2        1
3    2    2    2        1
4    2    1    0        1

[5 rows x 55 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 55 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Q1       170 non-null    int64
 1   Q2       170 non-null    int64
 2   Q3       170 non-null    int64
 3   Q4       170 non-null    int64
 4   Q5       170 non-null    int64
 5   Q6       170 non-null    int64
 6   Q7       170 non-null    int64
 7   Q8       170 non-null    int64
 8   Q9       170 non-null    int64
 9   Q10      170 non-null    int64
 10  Q11      170 non-null    int64
 11  Q12      170 non-null    int64
 12  Q13      170 non-null    int64
 13  Q14      170 non-null    int64
 14  Q15      170 non-null    int64
 15  Q16      170 non-null    int64
 16  Q17      170 non-null    int64
 17  Q18      170 non-null    int64
 18  Q19      170 non-null    int64
 19  Q20      170 non-null    int64
 20  Q21      170 non-null    int64
 21  Q22      170 non-null    int64
 22  Q23      170 non-null    int64
 23  Q24      170 non-null    int64
 24  Q25      170 non-null    int64
 25  Q26      170 non-null    int64
 26  Q27      170 non-null    int64
 27  Q28      170 non-null    int64
 28  Q29      170 non-null    int64
 29  Q30      170 non-null    int64
 30  Q31      170 non-null    int64
 31  Q32      170 non-null    int64
 32  Q33      170 non-null    int64
 33  Q34      170 non-null    int64
 34  Q35      170 non-null    int64
 35  Q36      170 non-null    int64
 36  Q37      170 non-null    int64
 37  Q38      170 non-null    int64
 38  Q39      170 non-null    int64
 39  Q40      170 non-null    int64
 40  Q41      170 non-null    int64
 41  Q42      170 non-null    int64
 42  Q43      170 non-null    int64
 43  Q44      170 non-null    int64
 44  Q45      170 non-null    int64
 45  Q46      170 non-null    int64
 46  Q47      170 non-null    int64
 47  Q48      170 non-null    int64
 48  Q49      170 non-null    int64
 49  Q50      170 non-null    int64
 50  Q51      170 non-null    int64
 51  Q52      170 non-null    int64
 52  Q53      170 non-null    int64
 53  Q54      170 non-null    int64
 54  Divorce  170 non-null    int64
dtypes: int64(55)
memory usage: 73.2 KB
None
               Q1          Q2          Q3          Q4          Q5          Q6  \
count  170.000000  170.000000  170.000000  170.000000  170.000000  170.000000
mean     1.776471    1.652941    1.764706    1.482353    1.541176    0.747059
std      1.627257    1.468654    1.415444    1.504327    1.632169    0.904046
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      2.000000    2.000000    2.000000    1.000000    1.000000    0.000000
75%      3.000000    3.000000    3.000000    3.000000    3.000000    1.000000
max      4.000000    4.000000    4.000000    4.000000    4.000000    4.000000

               Q7          Q8          Q9         Q10  ...         Q46  \
count  170.000000  170.000000  170.000000  170.000000  ...  170.000000
mean     0.494118    1.452941    1.458824    1.576471  ...    2.552941
std      0.898698    1.546371    1.557976    1.421529  ...    1.371786
min      0.000000    0.000000    0.000000    0.000000  ...    0.000000
25%      0.000000    0.000000    0.000000    0.000000  ...    2.000000
50%      0.000000    1.000000    1.000000    2.000000  ...    3.000000
75%      1.000000    3.000000    3.000000    3.000000  ...    4.000000
max      4.000000    4.000000    4.000000    4.000000  ...    4.000000

              Q47         Q48         Q49         Q50         Q51         Q52  \
count  170.000000  170.000000  170.000000  170.000000  170.000000  170.000000
mean     2.270588    2.741176    2.382353    2.429412    2.476471    2.517647
std      1.586841    1.137348    1.511587    1.405090    1.260238    1.476537
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      1.000000    2.000000    1.000000    1.000000    2.000000    1.000000
50%      2.000000    3.000000    3.000000    2.000000    3.000000    3.000000
75%      4.000000    4.000000    4.000000    4.000000    4.000000    4.000000
max      4.000000    4.000000    4.000000    4.000000    4.000000    4.000000

              Q53         Q54     Divorce
count  170.000000  170.000000  170.000000
mean     2.241176    2.011765    0.494118
std      1.505634    1.667611    0.501442
min      0.000000    0.000000    0.000000
25%      1.000000    0.000000    0.000000
50%      2.000000    2.000000    0.000000
75%      4.000000    4.000000    1.000000
max      4.000000    4.000000    1.000000

[8 rows x 55 columns]

#### Loading TSV File

In [4]:
reference_df = pd.read_csv('reference.tsv', delimiter='|')

# Display the first few rows of the dataframe
print(reference_df.head())

# Display summary statistics and information
print(reference_df.info())
print(reference_df.describe())

   atribute_id                                        description
0            1  If one of us apologizes when our discussion de...
1            2  I know we can ignore our differences, even if ...
2            3  When we need it, we can take our discussions w...
3            4  When I discuss with my spouse, to contact him ...
4            5   The time I spent with my wife is special for us.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   atribute_id  54 non-null     int64
 1   description  54 non-null     object
dtypes: int64(1), object(1)
memory usage: 996.0+ bytes
None
       atribute_id
count    54.000000
mean     27.500000
std      15.732133
min       1.000000
25%      14.250000
50%      27.500000
75%      40.750000
max      54.000000

#### Data Merging and Cleanup